:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primaray-color: #293264;


}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

body {
  margin: 0;
  color: var(--primaray-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  max-width: 550px;
  padding: 40px 75px;
  min-height: 100vh;
  margin-inline: auto;
  background: url("./assets/bg1.svg") no-repeat right top #F5F7FB;
}

.start {
  text-align: center;
}

.start--title {
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  margin: 0 0 7px;
}

.start--button {
  padding: 16px 54px;
  background: #4D5B9E;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  margin-top: 30px;
}

.loading {
  text-align: center;
}

.main {
  text-align: center;
}

.main--check, .main--play-again {
  background: #4D5B9E;
  border-radius: 10px;
  padding: 10px 22px;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  color: #F5F7FB;
  margin-top: 20px;
}

.main--score {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  display: inline-block;
  margin-right: 20px;
}

.quiz {
  text-align: left;
  padding-bottom: 15px;
  border-bottom: 0.8px solid #DBDEF0;
  margin-bottom: 15px;
}

.quiz--title {
  font-family: 'Karla', san-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 10px;
}

.quiz--btns {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.quiz--btn {
  border: 0.8px solid #4D5B9E;
  border-radius: 8px;
  padding: 4px 7px;
  font-weight: 500;
  font-size: 10.24px;
  line-height: 12px;
  min-width: 70px;
}

.quiz--btn__selected {
  background: #D6DBF5;
  border: none;
}

.quiz--btn__ans {
  background: none;
  opacity: .5;
}

.quiz--btn__correct {
  opacity: 1;
  background: #94D7A2;
  border: none;
}

.quiz--btn__false {
  opacity: .5;
  background: #F8BCBC;
  border: none;
}

.inert {
  pointer-events: none;
  cursor: default;
}
